<h1>Fuji Groomer</h1>
<p>Pet Grooming in Torrance, CA</p>
<p>At Pup E Tails, we'll relieve you of the tricky task of pet grooming. Whether your pet has a severely matted coat or just needs a trim, we're at your service. When you bring in your pet for grooming, we'll be careful to treat them in a gentle, caring fashion. In Torrance, CA, we're the ones to turn to for all your pet grooming needs.

We pride ourselves on our patient, talented groomers and competitive rates. We also go out of our way to offer convenient, flexible appointments. We do a meticulous job of grooming, and we're proud to offer:</p>
<ul>
	<li>Dog grooming</li>
	<li>Cat grooming</li>
	<li>Pet washing</li>
	<li>Nail trimming</li>
</ul>
<p>
At Pup E Tails, we know you're sensitive about your pet's care and safety. That's why we make every effort to treat them delicately. Call us today to find out more about us and our pet grooming services. We serve all of Los Angeles County.</p>
