<%=render 'layouts/nav' %>
<div class="left-space">
  <h1>Check the availability to make an appointment</h1>
  <%= render partial: 'form', locals: { user: current_user, appointment: @appointment} %>
</div>